.cardsItems{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 20px;
}
.card-box{
    padding-top: 30px;
    padding-bottom: 30px;
}

@media screen and (max-width: 1308px) and (min-width: 1038px) {
    .cardsItems {
        height: 115px !important;
    }
}
@media screen and (max-width: 1038px) and (min-width: 1000px) {
    .cardsItems {
        height: 140px !important;
    }
}
@media screen and (max-width: 885px) and (min-width: 815px) {
    .cardsItems {
        height: 120px !important;
    }
}